@font-face {
  font-family: 'Varela Round';
  src: url('assets/fonts/VarelaRound-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Varela Round', sans-serif;
}
